*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    transition: all 0.5s ease;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
input{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 6vh;
    font-size: 1.5rem;
    text-indent: 10px;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: red;
    color: white;
    border: 5px solid blue;
    position: fixed;
    top: 10px;
    left: 10px;
}